<div id="container">
  <header>
    <ion-img class="logo" src="../../../../assets/img/LogoB.png" alt=""> </ion-img>
    <h1 class="Name">Glück</h1>
    <div class="barra">
      <h2>Menu<img src="../../../../assets/img/MenuDes.svg" alt=""></h2>

      <ul>
        <li><a [routerLink]="['/pages/profile']">Perfil</a></li>
        <li><a>Términos de servicio</a></li>
        <li><a [routerLink]="['/auth/']">Cerrar sesión</a></li>
      </ul>
    </div>
  </header>
  <div class="contain">
    <div class="contenido">

      <div class="card">
        <div class="image">
          <ion-img src="../../../../assets/img/avatarIc.png"> </ion-img><span class="nombre">
            <p class="nomlet" style="color: #7030a0; font-weight: bold;">¡Hola Katherine!
            </p>
          </span>
          <p style="color: #7030a0;
             position: relative;
             top: -41px;
             left: 12px;
             width: 299px;
            ">Tienes xxx puntos happy</p>

          <ion-img src="../../../../assets/img/iconologo.png" class="imglh" style="position: relative;
              bottom: 48px;"></ion-img>
          <p class="ph">xxx</p>
        </div>
      </div>

      <ion-img src="../../../../assets/img/reloj.png" style="width: 80px;
        position: relative;
        top: 138px;
        margin: auto;"></ion-img>


      <button class="buttonsP" style="position: relative;
        top: 154px;
        right: 22px;
        width: 134px;" [routerLink]="['/transacciones']">Transacciones</button>
      <button class="buttonsP" style="position: relative;
        top: 147px;
        left: 18px;
        width: 134px;" [routerLink]="['/redime']">Redimir Puntos Información</button>
      <button class="buttonsP" style="position: relative;
        top: 167px;" [routerLink]="['/ahorros']">Ahorros Historial</button>
      <br>
      <a href="" [routerLink]="['/premium']" style="position: relative;
        top: 186px;
        color: #7030a0;
        text-decoration: underline;
        display: revert;
        font-weight: bold;
        z-index: 2;">Adquirir Plan Premium</a>

      <ion-tabs>
        <ion-tab-bar slot="bottom" class="tabBar">
          <ion-tab-button tab="tabs" [routerLink]="['/pages/tabs']">
            <ion-icon src="../../../../assets/img/Home.svg"></ion-icon>

          </ion-tab-button>
          <ion-tab-button tab="favs" [routerLink]="['/pages/favs']">
            <ion-icon src="../../../../assets/img/Heart.svg"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="category" [routerLink]="['/pages/category']">
            <ion-icon src="../../../../assets/img/LogoIc.svg" class="LogoIcono"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="points" [routerLink]="['/pages/points']">
            <ion-icon src="../../../../assets/img/Star.svg"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="atencion-a-cliente" [routerLink]="['/pages/atencion-a-cliente']">
            <ion-icon src="../../../../assets/img/Quest.svg"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>

  </div>

</div>
