<div id="container">
  <header>
    <ion-img class="logo" src="../../assets/icon/LogoB.png"alt=""> </ion-img>
    <h1 class="Name">Glück</h1>
    <div class="barra">
      <h2>Menu<img src="../../assets/icon/MenuDes.svg" alt=""></h2>
      <ul>
          <li><a [routerLink]="['/profile']" >Perfil</a></li>
          <li><a  >Términos de servicio</a></li>
        <li><a >Cerrar sesión</a></li>
      </ul>
     
  </div>
  </header>
    <div class="contain">
      <ion-button (click)="goBack()" fill="clear" style= "position: fixed;
      right: 272px;
      top: 163px;
      height: 58px;
      z-index: 2;">
          <ion-img src="../../assets/icon/atras.png"  style="width: 72px; height: 60px;"></ion-img>
        </ion-button>
      <div class="contenido">
        <ion-img src="../../assets/icon/marco.png" style="position: relative;
        top: 103px;
        width: 110px;
        margin: auto;"></ion-img>
        <ion-img src="../../assets/icon/happyPrime.png" style="position: relative;
        top: 3px;
        width: 110px;
        margin: auto;"></ion-img>
        <a href="" style="    position: relative;
        top: 6px;
        color: #7030a0;
        text-decoration: underline;
        display: revert;
        font-weight: bold;
        z-index: 2;">Happy Prime</a>
        <ion-img src="../../assets/icon/Descuentos.png" style="position: relative;
        top: 45px;
        width: 110px;
        margin: auto;"></ion-img>
        <a href="" style="    position: relative;
        top: 56px;
        color: #7030a0;
        text-decoration: underline;
        display: revert;
        font-weight: bold;
        z-index: 2;">Descuentos Top</a>

      <ion-tabs>
        <ion-tab-bar slot="bottom" class="tabBar">
          <ion-tab-button tab="home" [routerLink]="['/tabs']">
            <ion-icon src="../../assets/icon/Home.svg"></ion-icon>
    
          </ion-tab-button>
          <ion-tab-button tab="Heart" [routerLink]="['/favs']">
            <ion-icon src="../../assets/icon/Heart.svg"></ion-icon>
          </ion-tab-button>
    
          <ion-tab-button tab="LogoHo" [routerLink]="['/category']">
            <ion-icon src="../../assets/icon/LogoIc.svg" class="LogoIcono"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="Star" [routerLink]="['/points']">
            <ion-icon src="../../assets/icon/Star.svg"></ion-icon>
          </ion-tab-button>
    
          <ion-tab-button tab="search" [routerLink]="['/atencion-a-cliente']">
            <ion-icon src="../../assets/icon/Quest.svg"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>
    
    </div>
