<div id="container">
  <header>
    <ion-img class="logo" src="../../../../assets/img/LogoB.png" alt=""> </ion-img>
    <h1 class="Name">Glück</h1>
    <div class="barra">
      <h2>Menu<img src="../../../../assets/img/MenuDes.svg" alt=""></h2>

      <ul>
        <li><a [routerLink]="['/pages/profile']">Perfil</a></li>
        <li><a>Términos de servicio</a></li>
        <li><a [routerLink]="['/auth/']">Cerrar sesión</a></li>
      </ul>
    </div>
  </header>

  <div class="contain">
    <div class="contenido">
      <h1>
        <a href="" [routerLink]="['/pages/addForm']" style="position: relative;
              color: black;
              text-decoration: underline;
              display: revert;
              font-weight: bold;
              z-index: 2;">Agregar imagen</a>
      </h1>
      <ion-col size="12" class="vertical-scroll-containe">
        <ion-card *ngFor="let row of offerData">
          <img [src]="row.photoOffer" alt="Imagen" width="80">
          <ion-card-header>
            <ion-card-title>Nombre de la oferta: {{row.typeOffer}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <br>
            <span>Dirección: {{row.addressOffer}}</span>
            <br>
            <span>Tiempo de la oferta: {{row.timeOffer}}</span>
          </ion-card-content>
        </ion-card>

      </ion-col>


      <ion-tabs>
        <ion-tab-bar slot="bottom" class="tabBar">
          <ion-tab-button tab="tabs" [routerLink]="['/pages/tabs']">
            <ion-icon src="../../../../assets/img/Home.svg"></ion-icon>

          </ion-tab-button>
          <ion-tab-button tab="favs" [routerLink]="['/pages/favs']">
            <ion-icon src="../../../../assets/img/Heart.svg"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="category" [routerLink]="['/pages/category']">
            <ion-icon src="../../../../assets/img/LogoIc.svg" class="LogoIcono"></ion-icon>
          </ion-tab-button>
          <ion-tab-button tab="points" [routerLink]="['/pages/points']">
            <ion-icon src="../../../../assets/img/Star.svg"></ion-icon>
          </ion-tab-button>

          <ion-tab-button tab="atencion-a-cliente" [routerLink]="['/pages/atencion-a-cliente']">
            <ion-icon src="../../../../assets/img/Quest.svg"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </div>

  </div>
